#elso {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: elso;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    transition: width 1s, height 1s,;
}
        
@keyframes elso {
    0%   {background-color:red; left:0px; top:0px; width: 120px; height: 120px;}
    25%  {background-color:rgb(255, 174, 0); left:200px; top:0px;width: 150px; height: 150px;}
    50%  {background-color:rgb(229, 255, 0); left:200px; top:200px;width: 150px; height: 150px;}
    75%  {background-color:rgb(47, 128, 0); left:0px; top:200px;width: 120px; height: 120px;}
    100% {background-color:red; left:0px; top:0px;width: 100px; height: 100px;}
  }


#masodik {
    width: 100px;
    height: 100px;
    background-color: wheat;
    position: relative;
    animation-name: masodik;
    animation-duration: 4s;
    animation-delay: 0s;
    transition-property: width height;
    transition-timing-function: linear;
  }
  
  @keyframes masodik {
    0%   {background-color:wheat; left:0px; top:0px;width:200px ; height: 100px;}
    25%  {background-color:yellow; left:200px; top:0px;width:100px ;height: 100px;}
    50%  {background-color:rgb(0, 183, 255); left:200px; top:200px;width:100px ;height: 100px;}
    75%  {background-color:rgb(83, 128, 0); left:0px; top:200px;width:100px ;height: 100px;}
    90% {background-color:wheat; left:0px; top:0px;width:100px ;height: 200px;}
    100% {background-color:wheat; left:0px; top:0px;width:100px ;height: 100px;}
    
  }

  #harmadik {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation-name: harmadik;
    animation-duration: 4s;
    animation-direction: reverse;
    transition: transform 1s;
  }
  
  @keyframes harmadik {
   0%  {background-color:rgb(0, 174, 255); left:200px; top:200px;transform: rotate(90deg);}
   25%  {background-color:rgb(2, 56, 2); left:0px; top:200px;transform: rotate(180deg);}
   75% {background-color:rgb(0, 128, 117); left:0px; top:0px;transform: rotate(270deg);}
   100%  {background-color:rgb(9, 255, 0); left:200px; top:0px;transform: rotate(0deg);}
    0%   {background-color:green; left:0px; top:0px;}
   
  }